<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="botao1">
        <h1>Api GitHub</h1>
        <input type="text" name="Username" id="" placeholder="Username">
        <button class="buttonn" type="submit">Buscar</button>
    </div>
    <div class="bloco">
        <div class="bloquinhos">
            <div class="texts1">Username</div>
            <div class="text">FelipeAioki</div>
        </div>
        <div class="bloquinhos">
            <div class="texts1">Perfil</div>
            <div class="text">https://api.github.com/users/FelipeAioki</div>
        </div>
        <div class="bloquinhos">
            <div class="texts1">Repositorios Publicos</div>
            <div class="text">3</div>
        </div>
        <div class="bloquinhos">
            <div class="texts1">Seguidores</div>
            <div class="text">3</div>
        </div>
        <div class="bloquinhos">
            <div class="texts1">Data de criação</div>
            <div class="text">2020-10-20T20:11:34Z</div>
        </div>
    </div>
</body>
</html>