
/* Corpo do html */
.admin_background{
    background-image: url(../img/Fundo.png);
    background-repeat: repeat;
    height: 100%;
}
.admin_consultas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.admin_consultas h1{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}
.admin_bloco{
    width: 900px;
    height: 290px;
    border: 5px solid rgba(15, 147, 183, 0.712);
    box-shadow: 0px 4px 4px rgba(75, 75, 75, 0.25);
    border-radius: 17px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.admin_bloco h1{
    font-family: Proza Libre;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 25px;
    Line-height: 100%;
    color: #25A0C2;
}
.admin_bloco_list{
    width: 900px;
    height: 290px;
    border: 5px solid rgba(15, 147, 183, 0.712);
    box-shadow: 0px 4px 4px rgba(75, 75, 75, 0.25);
    border-radius: 17px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.admin_bloco_list h1{
    font-family: Proza Libre;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 25px;
    Line-height: 100%;
    color: #25A0C2;
}
.admin_divtext{
    width: 140px;
    height: 24px;
    display: flex;
    padding-bottom: 16px;
    justify-content: flex-end;
}
.admin_texts{
    width: 140px;
    margin-bottom: 6px;
    margin-right: 10px;
}
.admin_inputs{
    width: 400px;
}
.admin__div{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
}
.admin_inputss{
    width: 499px;
    height: 20px;
    border-radius: 17px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #32A8C9;
}
.admin__div h1{
    Font-family: Proza Libre;
    Font-style: Regular;
    Font-size: 15px;
    Line-height: 25px;
    Line-height: 100%;
    color: Solid #32A8C9;
}
.admin_botao button{
    width: 120px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #25A0C2;
    border: 2px solid #0099c4;
    cursor: pointer;
    background: #0099c4;
    margin-left: 40px;
}
.admin_botao button:hover{
    outline: none;
    background-color: #00b2e4;
    -webkit-transition: all 400ms ease;
}
.admin_botao a{
    font-size: large;
    text-decoration: none;
    color: white;
}
.admin_botao a:hover
        a:focus{
    outline: none;
    background-color: #ffffff;
    -webkit-transition: all 400ms ease;
}
.admin_Listar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}
.admin__idmedico h1{
    color: #25A0C2;
}
.admin_h1list{
    color: white;
}
.admin__idmedico input{
    border-radius: 17px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: 2px solid #32A8C9;
}
.admin__idmedico{
    flex-direction: column;
    display: flex;
    width: 300px;
    align-items: center;
    margin-top: 20px;
    border: 5px solid rgba(15, 147, 183, 0.712);
    box-shadow: 0px 4px 4px rgb(75 75 75 / 25%);
    border-radius: 17px;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}
.admin_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.admin_list button{
    width: 90px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #25A0C2;
    border: 2px solid #0099c4;
    cursor: pointer;
    background: #0099c4;
}
.admin_list button:hover{
    outline: none;
    background-color: #00b2e4;
    -webkit-transition: all 400ms ease;
}
.admin_list a{
    text-decoration: none;
    color: white;
}
.admin_list a:hover
        a:focus{
    outline: none;
    background-color: #ffffff;
    -webkit-transition: all 400ms ease;
}
.admin_hrlist{
    margin-top: 20px;
    width: 700px;
    opacity: 50%;
    color: white;
}
/* Bloco do Listar */
.admin_divtext_list{
    width: 140px;
    height: 24px;
    display: flex;
    padding-bottom: 16px;
    justify-content: flex-end;
}
.admin_texts_list{
    width: 140px;
    margin-right: 10px;
    margin-top: 21px;
}
.admin_inputs_list{
    width: 400px;
}
.admin__div_list{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
}
.admin__div_list input{
    width: 499px;
    height: 20px;
    border-radius: 17px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #32A8C9;
}
.admin__div_list h1{
    Font-family: Proza Libre;
    Font-style: Regular;
    Font-size: 15px;
    Line-height: 25px;
    Line-height: 100%;
    color: Solid #32A8C9;
}
.admin_botao_list button{
    width: 120px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #25A0C2;
    border: 2px solid #0099c4;
    cursor: pointer;
    background: #0099c4;
    margin-left: 40px;
}
.admin_botao_list button:hover{
    outline: none;
    background-color: #00b2e4;
    -webkit-transition: all 400ms ease;
}
.admin_botao_list a{
    font-size: large;
    text-decoration: none;
    color: white;
}
.admin_botao_list a:hover
        a:focus{
    outline: none;
    background-color: #ffffff;
    -webkit-transition: all 400ms ease;
}