<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>CZBooks</title>
</head>

<body>
    <div>
        <div class="meio">
            <div class="container">
                <h1 class="h1page">Livros</h1>
                <div class="bloco">
                    <div class="bloquinhos">
                        <div class="texts1">Título</div>
                        <div class="text">O universo numa casca de noz</div>
                    </div>
                    <div class="bloquinhos">
                        <div class="texts1">Sinopse</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam vero animi deleniti, sit id, quod, distinctio nostrum architecto ipsa similique omnis minus! Quaera</div>
                    </div>
                    <div class="bloquinhos">
                        <div class="texts1">Autor</div>
                        <div class="text">stephen hawking</div>
                    </div>
                    <div class="bloquinhos">
                        <div class="texts1">Data de publicação</div>
                        <div class="text">12/05/2001</div>
                    </div>
                    <div class="bloquinhos">
                        <div class="texts1">Preço</div>
                        <div class="text">99,90</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>