<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/login.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="bloquinho">
            <div class="inputs">
                <h1>Email</h1>
                <input className="login_input_email" placeholder="email" type="text" name="email" />
            </div>
            <div class="inputs">
                <h1>Senha</h1>
                <input className="login_input_senha" placeholder="senha" type="text" name="senha" />
            </div>
            <button class="buttonn">Logar</button>
        </div>
    </div>
</body>

</html>