* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 120px;
    margin-left: 20px;
}

.cabecalhoPrincipal-nav-login {
    color: #ffffff;
    width: 119px;
    height: 44px;
    background-color: #0F92B7;
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-right: 22px;
    font-size: 20px;
    border: 0px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(75, 75, 75, 0.25);
    border-radius: 17px;
    cursor: pointer;
}

.cabecalhoPrincipal-nav-login:hover {
    outline: none;
    background-color: #00b2e4;
    -webkit-transition: all 400ms ease;
}


/* Corpo do HTML */

.background {
    background-image: url(/assets/img/Fundo.png);
    background-repeat: repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* LISTAAR */

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list button {
    width: 90px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #25A0C2;
    border: 2px solid #0099c4;
    cursor: pointer;
    background: #0099c4;
}

.list button:hover {
    outline: none;
    background-color: #00b2e4;
    -webkit-transition: all 400ms ease;
}

.list a {
    text-decoration: none;
    color: white;
}

.list a:hover a:focus {
    outline: none;
    background-color: #ffffff;
    -webkit-transition: all 400ms ease;
}

._idpaciente h1 {
    color: #25A0C2;
}

.h1list {
    color: white;
    margin-top: 30px;
}

._idpaciente {
    flex-direction: column;
    display: flex;
    width: 300px;
    align-items: center;
    margin-top: 20px;
    border: 5px solid rgba(15, 147, 183, 0.712);
    box-shadow: 0px 4px 4px rgb(75 75 75 / 25%);
    border-radius: 17px;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

._idpaciente input {
    border-radius: 17px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: 2px solid #32A8C9;
}

.hrlist {
    margin-top: 20px;
    width: 700px;
    opacity: 50%;
    color: white;
}


/* LISTA DOS PACIENTES */

.bloco_list {
    width: 900px;
    height: 290px;
    border: 5px solid rgba(15, 147, 183, 0.712);
    box-shadow: 0px 4px 4px rgba(75, 75, 75, 0.25);
    border-radius: 17px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.bloco_list h1 {
    font-family: Proza Libre;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 25px;
    Line-height: 100%;
    color: #25A0C2;
}

.divtext_list {
    width: 140px;
    height: 24px;
    display: flex;
    padding-bottom: 16px;
    justify-content: flex-end;
}

.texts_list {
    width: 140px;
    margin-right: 10px;
    margin-top: 21px;
}

.inputs_list {
    width: 400px;
}

._div_list {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
}

.inputs {
    width: 499px;
    height: 20px;
    border-radius: 17px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #32A8C9;
}

.botao_list button {
    width: 120px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #25A0C2;
    border: 2px solid #0099c4;
    cursor: pointer;
    background: #0099c4;
    margin-left: 40px;
}

.botao_list button:hover {
    outline: none;
    background-color: #00b2e4;
    -webkit-transition: all 400ms ease;
}

.botao_list a {
    font-size: large;
    text-decoration: none;
    color: white;
}

.botao_list a:hover a:focus {
    outline: none;
    background-color: #ffffff;
    -webkit-transition: all 400ms ease;
}